<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Lerner</title>
    <link rel="stylesheet" href="style.css">
    <meta dir="rtl">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="logo">
        <img src="Untitled.jpeg" alt="logo" >
        <div class="name">        
            <div class="row">
                <div class="col p-3 "></div>
                <div class="col p-3 ">I_Learner</div>
                <div class="col p-3 "></div>
            </div>
        </div>
             
        
        <!--Motivational text-->
        <div class="Motivationa">
            <div class="row">
                <div class="col p-3 "></div>
                <div class="col p-3 ">.پیشرفت روزانه کوچک در طولانی مدت، منجر به نتایج خیره کننده خواهد شد</div>
                <div class="col p-3 "></div>
            </div> 
        </div>   
        <div class="button">
            <div class="row">
                <!-- <div class="col p-3 "></div>
                <div class="col p-3 "><button type="button" class="button">بزن بریم</button></div>
                <div class="col p-3 "></div> -->
                <button type="button" class="btn">بزن بریم</button>
            </div> 
        </div>   
        

    </div>
</body>
</html>